.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backColorCss {
  position: absolute; 
  left: 0; 
  right: 0; 
  overflow: hidden; 
  display: block;
}

.backColorInnerCss {
  left: -5%; 
  width: 110%; 
  height: 7rem; 
  position: relative; 
  border-radius: 0 0 600px 600px/0 0 100px 100px; 
  background-color: #f56b2a
}

.cardbuttoncss{
  display: flex;
  justify-content: center;
  left: 0; 
  right: 0; 
  position: "absolute";
}
.cardbutton {
  position: relative;
  width: auto
}
.cardbutton::after {
  content: "";
  background: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  border-radius: 0 0 4px 4px;
  z-index: -1;
}
