.rescardContent {
    padding: 8px !important;
}
.cardheader {
    border-left: 4px solid #FF002A;
    opacity: 1;
}
.cardheader > div {
    flex-grow: 1;
    margin-left: 12px;
}
.cardheader > h6 {
    font-weight: bold !important ;
    margin: 0 5px !important;
}
.resCardheader h6 {
    line-height: 1.25;
}
.cardheader > span {
    margin: 0 12px !important;
    font-size: 11px;
}
.locationCategory {
    margin-left: 12px;
}
.locationInfo {
    color: #2A2A2A !important;
    opacity: 0.28;
}
 .location {
    margin-left: 12px;
    color: #000000 !important;
    font-size: 1rem !important;
    opacity: 1;
}
.location > svg {
    font-size: 1rem !important;
}
.locationName {
    font-size: 15px;
    font-weight: 500;
}